//
//  Secrets.xcconfig
//  WorldCupApp
//
//  Created by Cs on 2026-07-09.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

FOOTBALL_DATA_API_KEY = 7295e5653ffc4382a4a7dd190478aade

